
<h2>Index</h2>

@{
    <h3>Welcome @ViewBag.Name to MyApp</h3>

    int? num = ViewBag.id;

    if (num != null)
    {
        for (int i = 1; i <= num; i++)
        {
            <h3>Welcome</h3>
        }
    }





}








